body,html {
    margin:0;
    padding:0;
    Font-size:62.5%;
    background:#68CDD6;
    overflow: hidden;
    height:100%;
}

.menu {
    position: fixed;
    top:3rem;
    left: 3rem;
    width:100%;
}

.logo {
    position: absolute;
    top:30%;
    height:73px;
    margin-top: -36px;
    width:100%;
    text-align:center;
    float: left;
    padding-bottom:50px;
}

.logo .text {
    color:white;
    font-size: 20px;
    margin-left: 12%;
    margin-right: 10%;
    width:80%;
}

.logo .logo1 {
    position: absolute;
    right:10%;
    margin-top: 20px;
}

.logo .logo2 {
    position: absolute;
    left:10%;
    margin-top: 20px;
}