body,html {
    margin:0;
    padding:0;
    Font-size:62.5%;
    background:#68CDD6;
    overflow: hidden;
    height:100%;
}

.menu {
    position: fixed;
    top:3rem;
    left: 3rem;
    width:100%;
}

.logo {
    text-align: center;
    margin-top:30%;
    margin-left:-1%;
}

.text {
    color:white;
    font-size: 20px;
    margin:5% 10% 5% 12%;
    width:80%;
}

.contect {
    margin-top: 10%;
}

.contect .logo1 {
    float: right;
    margin-right: 10%;
}

.contect .logo2 {
    float: left;
    margin-left: 10%;
}